API_ID=26851615
API_HASH=f476290aaf196bfdea269a5923d2581e
BOT_TOKEN=8183117134:AAFJAimarDZIcHzrLqWlkpXM1D5bMEhkQoc
LOGGER_ID=-1002566193482
MONGO_DB_URI=mongodb+srv://bajrang:bajiro11@cluster0.qdcf3o3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7637584181
STRING_SESSION=BQGZuR8AVJrQ0OmxpII56K185S41ryPt1-YM5hKdHV9eMy3Rgfop9IuqKC_Qa59ryO2GXoHYFalHt5RWcDnR99Aqcopqh4RemtdlN6Nvx-o0tLUZdOr8p6aitU9sqv4EUyGUJd9pjHtfA0WIFFrDMGER_9KEZmVEU7XDwnW1YLhXlIgUWJOcQMbi7_8xmxIgwpcxQg6m3Zud1tFLfJ5d7H2v0AveLnVM8VfFEL0wsPG_7yxa0elDbUTDSKVWkTnglaGCt3E0m0c-3OGif58WrjdE45gSFPX5RPyeT8A2nMHhULjsHSBzax5crUIFahc4oqR98ZGSrydgCWkGWhLYk0K6DfrpRAAAAAG_HmvkAA
